body {
    background-color: darkgoldenrod;
}
h1 {
    background-color: darkred;
    text-align: center;
    font-family: 'League Gothic', sans-serif;
    color: white;
}
#open_modal {
    float: right;
}
canvas {
    border: 3px solid black;
    border-radius: 15px;
    margin-top: 90px;
    animation-name: canvasglow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes canvasglow {
    from {box-shadow: 5px 5px 70px darkgray}
    to {box-shadow: 5px 5px 70px darkgreen}
}